@import "tailwindcss";
html{
    scroll-behavior: smooth;
}
*::-webkit-scrollbar{
    display: none;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.background-gradient{
    background-image: url(./assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 